*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.App{
  display:flex;
  justify-content: center;
}
.container{
  margin-top: 1rem;
  width:48%;
  height:fit-content;
  height:200%;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color:white;
}
.logo{
  height:90%;
}
.header{
  width:100%;
  height:5.5vh;

  display:flex;
  margin-top: 5.5vh;
  justify-content: space-between;
}
.textchange{
  display:flex;
  margin: 0 2.5rem;
  justify-content:space-between;
  cursor: pointer;
}
.textchange:hover{
  border-radius: 0.2rem;
  box-shadow: 1px 1px 4px 1px rgba(164, 69, 237, 0.74) ;
}
.textchange>p{
  font-size: 1.5rem;
  padding: 0 1rem;
  padding-left: 1.5rem;
}
.textchange > img{
  padding:0.8rem;
  
  padding-right: 1.5rem;
}

.colorchange{
  display:flex;
  width: fit-content;
  height: fit-content;
  justify-content:space-between;
}
.icons{
  display:flex;
  justify-content: space-around;
  
}
.searchBar{
  margin-top: 4rem;
  width:100%;
  height:8vh;
  position: relative;
  cursor: pointer;
  
}
.search{
  width:100%;
  height:100%;
  border-radius: 1rem;
  background-color: rgba(234, 232, 232, 0.5);
  border: none;

}

.searchicon{
  height:1.2rem;
  position: absolute;
  left:94%;
  top:35%;
  cursor: pointer;

}
.moon{
  margin-right: .1rem;
  margin-top: 0.1rem;
  object-fit: scale-down;
  
  cursor: pointer;
}
.mainDisplay{
  width:100%;
  height:10vh;
  margin-top: 3.3rem;
  display:flex;
  justify-content: space-between
}
.word{
  font-size: 4rem;
  font-weight:700;
  opacity: 0.8;

}
.sound{
  font-size: 1.6rem;
  color:rgba(164, 69, 237, 0.74);
}
.maincontent{
  width:100%;
  margin-top:6rem;
  height:fit-content;
  
}


